/* Overlay Modal */

.header {
    display: flex;
    justify-content: end;
}

.close {
    cursor: pointer;
    color: #fff;
    justify-self: flex-end;
}

.body {
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 37px;
    border: 1px solid #2E3156;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}

button:hover {
    background: #2E3156;
    color: #fff;
}

button:last-child {
    background: #2E3156;
    color: #fff;
}

/* Responsive */
@media screen and(min-width: 1280px) {
    .footer {
        justify-content: fle-end;
    }
}