body {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  height: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset css */ 


/* Colors */
.normal { background-color: #DDCBD0; }
.fighting { background-color: #fcc1b0; }
.flying { background-color: #B2D2E8; }
.poison { background-color: #CFB7ED; }
.ground { background-color: #F4D1A6; }
.rock { background-color: #C5AEA8; }
.bug { background-color: #C1E0C8; }
.ghost { background-color: #D7C2D7; }
.steel { background-color: #C2D4CE; }
.fire { background-color: #EDC2C4; }
.water { background-color: #CBD5ED; }
.grass { background-color: #C0D4C8; }
.electric { background-color: #E2E2A0; }
.psychic { background-color: #DDC0CF; }
.ice { background-color: #C7D7DF; }
.dragon { background-color: #CADCDF; }
.dark { background-color: #C6C5E3; }
.fairy { background-color: #E4C0Cf; }
.unknown { background-color: #C0DFDD; }
.shadow { background-color: #CACACA;  }



/* input::-webkit-input-placeholder {
  color: #5D5F7E !important;
} */


/* Text Trancate */
.truncate-overflow {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  text-align: justify;
}

@media screen and (min-width: 1280px) {
  .truncate-overflow {
      -webkit-line-clamp: 6;
    }
}

